* {
  margin: 0; padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@font-face {
  font-family: 'Sprat';
  src: url('../fonts/sprat.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
$black: rgb(49, 49, 49);
$purple: rgb(211, 163, 255);
$yellow: rgb(255, 244, 97);
$aqua: rgb(167, 255, 255);
$font: #000;

body {
  overflow-x: hidden;
}

.textCircle {
  width: 320px;
  height: 320px;
  position: absolute;
  margin-top: 175px;
  text-transform: uppercase;
  font-family: manrope, sans-serif;
  letter-spacing: 12.5px;
  font-size: 20px;
  font-weight: 500;
  z-index: 10000;
  cursor: pointer;
  animation: rotating 6s linear infinite;
  img {
    width: 50px; height: 50px;
    margin-left: -272px;
    //margin-top: 50px;  
    transform: translateY(-188px) scale(-1,-1) rotate(-52deg);
  }
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.grid {
  display: grid;
  background: whitesmoke;
  width: 100%;
  overflow-x: hidden;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 1800px 1200px 2000px 1400px; 
  overflow-y: hidden; }

#blob1 {
  position: fixed;
  z-index: -1;
  width: 600px; height: 600px;
  margin-left: -300px;
  margin-top: -195px;
  transform: rotate(25deg);
}
#blob2 {
  position: fixed;
  z-index: -1;
  width: 600px; height: 600px;
  margin-left: 68vw;
  margin-top: 330px;
  transform: rotate(-57deg) ;
}

.grid1 {
  grid-column: 1 / span 4;
  grid-row: 1 / span 1;
  z-index: 0;
  .topSection {
    width: 100vw; height: 700px;
    z-index: 10;
    .text {
      font-family: Manrope, sans-serif;
      display: flex; justify-content: center;
      align-items: center;
      z-index: 10;
      h1 {
        font-size: calc(52px + 1vw);
        font-weight: 400;
        width: 85%; height: 80%;
        margin-top: 100px;
        span:nth-child(1) {
          background: $yellow;
        }
        span:nth-child(2) {
          background: $purple;
        }
        span:nth-child(3) {
          background: $aqua;
        }
        span {
          border-radius: 25px;
          padding-left: 15px;
          padding-right: 15px;
          margin-left: -5px;
          margin-right: -5px;
          height: 50px;
        }
      }
    }
  }
  .divider {
    width: 100%; height: 200px;
    display: flex; justify-content: center;
    align-items: center;
    h1 {
      font-variation-settings: "wght" 20;
      font-weight: 200;
      font-family: Sprat;
      font-size: 70px;
      
    }
  }
  .flex {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  gap: 0px;
  .list-item {
    color: $font;
    font-family: Sprat;
    font-variation-settings: "wght" 20;
    font-size: 50px;
    width: 650px;
    font-weight: 300;
    text-align: center;
    z-index: 10;
    border-bottom: 1px solid $font;
    // border-top: 1px solid red;
    padding-bottom: 20px;
    padding-top: 20px;
    user-select: none;
    transform-origin: center;
    a {
      width: 650px;
      cursor: pointer;
      color: $font;
      z-index: 10;
      pointer-events: none;
      text-decoration: none;
    }
  }
  }
}
.siteSection {
  grid-row: 2 / span 1;
  grid-column: 1 / span 4;
  background: whitesmoke;
  font-family: Manrope;
  color: black;
  font-size: 38px;
  font-weight: 300;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: transparent;
  .myDiv {
    width: calc(49% - 8vw);
    padding-left: 8vw;
    padding-top: 25px;
    height: 600px;
    position: -webkit-sticky;
    position: sticky;
    top: 1px;
    float:left;
  }
  .myDiv2 {
    width: 50%;
    float: right;
    height: 100%;
    z-index: 900;
    ul {
      list-style: none;
      text-align: center;
      margin-top: 20px;
      margin-left: -5vw;
    }
    ul li {
      font-size: 22px;
      padding-left: 20px;
      padding-right: 20px;
      width: 80%; height: 150px;
      margin-top: 0px;
      margin-left: 10%;
      border: 1px solid black;
      display: flex; flex-direction: column;
      justify-content: center;
      gap: 10px;
    }
    ul li a {
      color: black; text-decoration: none;
      font-weight: 700;
    }
  }
}

.softwareSection {
  grid-row: 3 / span 1;
  grid-column: 1 / span 4;
  font-family: Manrope;
  color: black;
  font-size: 38px;
  font-weight: 300;
  width: 100%;
  height: 100%;
  z-index: 10;
  .myDiv {
    width: calc(49% - 8vw);
    padding-left: 8vw;
    padding-top: 25px;
    height: 600px;
    background: whitesmoke;
    position: -webkit-sticky;
    position: sticky;
    top: 1px;
    float:left;
    .flexy {
      display: block;
      img {
        width: 250px;
        margin: 0 auto;
        margin-top: 250px;
        animation: rotating 6s linear infinite;
      }
    }
  }
  .myDiv2 {
    width: 50%;
    float: right;
    height: 95%;
    padding-top: 0%;
    .theUl {
      list-style: none;
      text-align: center;
      margin-top: 20px;
      margin-left: -5vw;
    }
    .theUl .theLi {
      font-size: 18px;
      width: 80%; height: 350px;
      margin-top: 0px;
      margin-left: 10%;
      border: 1px solid black;
      display: flex; flex-direction: column;
      justify-content: center;
      gap: 10px;
      padding-left: 20px; padding-right: 20px;
      div {
        font-weight: 600;
        padding-top: 10px;
      }
      ul {
        list-style: none;
        li {
          font-size: 16px;
        }
      }
    }
    .theUl .theLi a {
      color: black; text-decoration: none;
      font-weight: 700;
    }
  }
}

.stackSection {
  grid-row: 4 / span 1;
  grid-column: 1 / span 4;
  font-family: Manrope;
  color: black;
  font-size: 38px;
  font-weight: 300;
  width: 100%;
  height: 100%;
  z-index: 10;
  .myDiv {
    width: calc(49% - 8vw);
    padding-left: 8vw;
    padding-top: 25px;
    height: 700px;
    background: whitesmoke;
    position: -webkit-sticky;
    position: sticky;
    top: 1px;
    float:left;
    .eyes {
      width: 80%;
      height: 400px;
      margin-top: 300px;
      display: flex; gap: 20px;
      justify-content: center;
      .outerEye {
        width: 75px;
        height: 150px;
        border-radius: 50%;
        border: 4px solid black;
        display: flex; justify-content: center;
        align-items: center;
        overflow: hidden;
        .innerEye {
          flex-shrink: 0;
          width: 90%; height: 80px; border-radius: 50%;
          background: black;
          display: flex; justify-content: center; align-items: center;
          .white {
            width: 20px; height: 20px; border-radius: 50%;
            background: white;
            margin-top: -25px;
            margin-left: 20px;
          }
        }
      }
    }
  }
  .myDiv2 {
    width: 50%;
    float: right;
    height: 95%;
    padding-top: 0%;
    ul {
      list-style: none;
      text-align: center;
      margin-top: 20px;
      margin-left: -5vw;
    }
    ul li {
      font-size: 20px;
      width: 80%; height: auto;
      margin-top: 0px;
      margin-left: 10%;
      border: 1px solid black;
      display: flex; flex-direction: column;
      justify-content: center;
      gap: 10px;
      span {
        font-size: 15px;
      }
    }
    ul li a {
      color: black; text-decoration: none;
      font-weight: 700;
    }
  }
}

#video {
  position: absolute;
  visibility: hidden;
  margin-left: -240px;
  z-index: -1;
  pointer-events: none;
}

.loader {
  width: 100vw;
  height: 100vh;
  position: fixed; top: 0; left: 0;
  background: $black;
  z-index: 1000;
  display: flex; justify-content: center;
  align-items: center;
  flex-direction: column;
  h2 {
    font-family: Sprat;
    color: white;
    font-variation-settings: "wght" 20;
    font-weight: 200;
    font-size: 50px;
    letter-spacing: 4px;
    cursor: pointer;
    user-select: none;
    margin-top: 0px;
    position: absolute;
  }
}

.contactDetails {
  width: 90%; height: 200px;
  background: rgba(182, 248, 253, 0.35);
  backdrop-filter: blur(8px);
  border-radius: 5px;
  margin-top: 100px;
  display: flex; justify-content: center;
  align-items: center;
  flex-direction: column; gap: 20px;
  div {
    font-size: 20px;
    span {
      font-weight: 600;
      font-size: 26px;
    }
  }
}
@media (max-width: 900px) {
  .grid1 .topSection {
    height: 900px;
  }
  .grid {
    grid-template-rows: 2000px 1300px 2400px 1700px; 
    .grid1 {
      .flex {
        .list-item {
          font-size: 44px;
          margin: 0;
          a {
            width: 100%;
          }
        }
      }
    }
  }
  .siteSection {
    flex-direction: column;
    display: flex;
    align-items: center;
    .myDiv {
      width: 90%;
      height: 100px;
      background: transparent;
      .hello {
        display: flex; justify-content: center;
        .textCircle {
          position: absolute;
          margin: 0 auto;
          margin-top: 850px;
          margin-left: -50px;
        }
      }
    }
    .myDiv2 {
      width: 90%;
    }
  }
  .softwareSection {
    flex-direction: column;
    display: flex;
    align-items: center;
    .myDiv {
      width: 90%;
      height: 100px;
      background: transparent;
      .flexy {
        display: flex; justify-content: center;
        margin-top: 1650px; margin-left: -50px;
      }
    }
    .myDiv2 {
      width: 90%;
    }
  }
  .stackSection {
    flex-direction: column;
    display: flex;
    align-items: center;
    .myDiv {
      width: 90%;
      height: 100px;
      background: transparent;
      .eyes {
        display: flex; justify-content: center;
        margin-top: 1400px; margin-left: 25px;
      }
    }
    .myDiv2 {
      width: 90%;
      .contactDetails {
        width: 90%;
        margin-left: 5%;
      }
    }
  }
}
@media (max-width: 600px) {
  .grid1 .topSection {
    height: 1300px;
  }
  .grid {
    grid-template-rows: 2400px 1800px 2650px 1800px; 
    .grid1 {
      .flex {
        .list-item {
          font-size: 38px;
          margin: 0;
          // display: flex;
          a {
            width: 100%;
          }
        }
      }
    }
  }
  .siteSection .myDiv .hello .textCircle {
    margin-top: 1300px;
    margin-left: -35px;
  }
  .siteSection .myDiv2 ul li {
    height: 250px;
  }
  .softwareSection .myDiv {
    background: transparent;
  }
  .softwareSection .myDiv .flexy {
    margin-top: 1900px;
  }
  .softwareSection .myDiv2 .theUl .theLi {
    height: 400px;
  }
  .stackSection .myDiv {
    background: transparent;
  }
}
.mobile {
  #blob1 {
    top: 50px;
  }
  #blob2 {
    bottom: -5vh;
    right: -300px;
  }
  .grid {
    grid-template-rows: 3200px 1900px 3600px 2100px; 
  }
  .grid1 {
    .topSection {
      height: 1500px;
      .text h1 {
          font-size: calc( 30px + 5vw );
          span {
            line-height: 80px;
          }
        }
    }
    .flex {
      .list-item {
        width: 80vw;
        font-size: 40px;
        a {
          width: 80vw;
          padding-top:20px;
          padding-bottom:20px;
        }
      }
    }
  }
  .hello {
    display: flex;
    width: 85vw;
    justify-content: center;
    align-items: center;
    height: 525px;
    margin: 0;
  }
  .flexy {
    height: 425px;
    align-items: center;
    margin-left: -50px;
  }
  .textCircle {
    margin: 0;
  }
  .siteSection {
    .myDiv {
      width: 100%;
    }
    .myDiv2 {
      width: 95%;
      font-size: 20px;
      ul {
        width: 90vw;
        li {
          height: 225px;
        }
      }
    }
  }
  .softwareSection {
    .myDiv {
      width: 100%;
      background: transparent;
      .flexy {
        display: flex;
        justify-content: center;
        img {
          position: absolute;
          margin-top: 100px;
          float: left;
          margin-left: -10vw;
        }
      }
    }
    .myDiv2 {
      width: 95%;
      .theUl {
        margin: 0;
        width: 90vw;
        margin-left: -5vw;
        .theLi {
          height: 575px;
          font-size: 20px;
          a {
            width: 100%;
          }
        }
      }
    }
  }
  .stackSection {
    .myDiv {
      width: 100%;
      height: 500px;
      background: transparent;
      .eyes {
        margin-top: 160px;
      }
    }
    .myDiv2 {
      width: 95%;
      padding-left: 5%;
      ul li {
        font-weight: 600;
        span {
          font-size: 20px;
          font-weight: 300;
        }
      }
      .contactDetails {
        margin-left: 2.5%;
        text-align: center;
        a {
          color: black; text-decoration: none;
        }
      }
    }
  }
 
}
