

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@font-face {
  font-family: 'Sprat';
  src: url('../fonts/sprat.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
$black: rgb(49, 49, 49);
$purple: rgb(211, 163, 255);
$yellow: rgb(255, 244, 97);
$aqua: rgb(167, 255, 255);
$font: #000;
 