.grid {
    display: grid;
    width: 100vw;
    grid-template-columns: repeat(4, 25vw);
    grid-template-rows: 100vh 100vh 60vh 100vh 100vh;
}

// section one
.grid1 {
    grid-column: 1 / span 4;
    grid-row: 1 / span 1;
    background: red;
}
 
// section two
.grid2 {
    grid-column: 1 / span 4;
    grid-row: 2 / span 1; 
    background: yellow;
}
.innergrid2 {
    display: grid;
    width: 100vw;
    grid-template-columns: repeat(4, 25vw);
    grid-template-rows: 100vh;
}
.left2 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    background: black;
}
.right2 {
    grid-column: 3 / span 2;
    grid-row: 1 / span 1;
    background: white;
}

// section three
.grid3 {
    grid-column: 1 / span 4;
    grid-row: 3 / span 1;
    background: green;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex3 {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 20vh);
    gap: 10px;
}
.innerflex1 {
    background: white;
    border-radius: 5px;
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
}
.innerflex2 {
    background: white;
    border-radius: 5px;
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
}
.innerflex3 {
    background: white;
    border-radius: 5px;
    grid-column: 3 / span 1;
    grid-row: 1 / span 2;
}
 
// section four
.grid4 {
    grid-column: 1 / span 4;
    grid-row: 4 / span 1;
    background: blue;
}
.innergrid4 {
    display: grid;
    width: 100vw;
    grid-template-columns: repeat(4, 25vw);
    grid-template-rows: 100vh;
}
.left4 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    background: blue;
}
.right4 {
    grid-column: 3 / span 2;
    grid-row: 1 / span 1;
    background: white;
}

// section five
.grid5 {
    grid-column: 1 / span 4;
    grid-row: 5 / span 1;
    background: purple;
}

@media (max-width: 936px) {
    .grid {
        grid-template-rows: 100vh 200vh 110vh 200vh 100vh;
    }
    // section two 
    .innergrid2 {
        grid-template-rows: repeat(2, 100vh);
    }
    .left2 {
        grid-row: 1 / span 1;
        grid-column: 1 / span 4;
    }
    .right2 {
        grid-row: 2 / span 1;
        grid-column: 1 / span 4;
    }
    //section three
    .flex3 {
        grid-template-rows: repeat(4, 20vh);
        grid-template-columns: repeat(4, 150px);
        gap: 20px;
    }
    .innerflex1 {
        grid-row: 1 / span 2;
        grid-column: 1 / span 2;
        background: pink;
    }
    .innerflex2 {
        grid-row: 1 / span 2;
        grid-column: 3 / span 2;
    }
    .innerflex3 {
        grid-row: 3 / span 2;
        grid-column: 2 / span 2;
        background: orange;
    }
    // section four
    .innergrid4 {
        grid-template-rows: repeat(2, 100vh);
    }
    .left4 {
        grid-row: 1 / span 1;
        grid-column: 1 / span 4;
    }
    .right4 {
        grid-row: 2 / span 1;
        grid-column: 1 / span 4;
    }
}

@media (max-width: 706px) {
    .grid {
        grid-template-rows: 100vh 100vh 160vh 100vh 100vh;
    }
    //section three
    .flex3 {
        grid-template-rows: repeat(6, 20vh);
        grid-template-columns: repeat(1, 300px);
        gap: 20px;
    }
    .innerflex1 {
        grid-row: 1 / span 2;
        grid-column: 1 / span 1;
        background: pink;
    }
    .innerflex2 {
        grid-row: 3 / span 2;
        grid-column: 1 / span 1;
    }
    .innerflex3 {
        grid-row: 5 / span 2;
        grid-column: 1 / span 1;
        background: orange;
    }
}